#tree-container { position: fixed; }
select { background: white;}

.overlay{ background-color: #ffffff; }
   
.node { cursor: pointer; }
.node circle { stroke-width: 1.9px; }
.node text { font-size:12px; font-family:sans-serif; }
.node text:hover { fill: #bc5723;}
   
.link { fill: none; stroke-width: 0.9px; }
